.info__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* border: 1px solid black; */
    margin: 10px 0;
}

.line{
    margin:5px;
    border-top: 1px solid rgb(88, 88, 88);
    width: 80%;
}

.info__title {
    font-size: 4vmin;
    align-self: flex-start;
    padding-left: 20px;
}

.info__images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: 1px solid green; */
    width:95%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.info__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width:20%;
    flex-basis: 200px;
    /* border: 1px solid black; */
    margin:10px;
}

.icons {
    transform: scale(1.5);
    margin:10px;
}

.image {
    width: 50%;
}