.carousel-control-prev,
.carousel-control-next {
    width: 5vw;
    height: 5vw;
    background-color: #c2c1c1;
    border-radius: 50%;
    /* border: 1px solid black; */
    top: 45%;
}

.carousel-control-prev-icon{
    /* border: 1px solid black; */
    color: tomato;
}

.carousel-control-prev{
    left: 5%;
}
.carousel-control-next{
    right: 5%;
}

.banner__container {
    padding: 30px;
}